name: Update README file

on:
  push:
    branches: [ main ]
  schedule:
  - cron: "0 * * * *"

jobs:
  update-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v5
      with:
        python-version: 3.12
    - name: Install requirements
      run: pip install -r requirements.txt
    - name: Update readme
      run: python3 -m readme
    - name: Commit and push to repository
      run: |
        git config user.name github-actions[bot]
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git add .
        git commit -m "Update readme"
        git push origin main
